</br>
<div class="card">
	<div class="card-body">
	<div class="row">
	<div class="col-md-4">
		<h4 class="header">Estacion > Retiradas</h4>
		<div class="table-responsive-sm">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Estacion</th>
						<th>Cant. Retiradas</th>
					</tr>
				</thead>
				<tbody>
					<% @listaretiradas.each do |est| %>
					<tr>
						<td> <%= est[1].nombre %></td>
						<td> <%= est[1].retiradas %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<h4 class="header">Estacion > Devueltas</h4>
		<div class="table-responsive-sm">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Estacion</th>
						<th>Cant. Devueltas</th>
					</tr>
				</thead>
				<tbody>
					<% @listadevueltas.each do |est| %>
					<tr>
						<td> <%= est[1].nombre %></td>
						<td> <%= est[1].devueltas %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="col-md-4">
		<h4 class="header">Fecha > Retiradas</h4>
		<div class="table-responsive-sm">
			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Fecha</th>
						<th>Cant. Retiradas</th>
					</tr>
				</thead>
				<tbody>
					<% @fecharetiradas.each do |date, value| %>
					<tr>
						<td> <%= date %></td>
						<td> <%= value %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	</div>
</div>
</div>